@import 'variables';
@import 'mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.head-section {
  border: 1px solid red;
  height: 40vh;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 90%;

  .input-container {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    width: 100%;

    input {
      width: 30%;
      border: none;
      border-bottom: 2px solid $secondary-color;
      background: $primary-color;
      color: $secondary-color;
      font-size: 20px;
      padding: 4px 5px 2px;

      &:focus {
        outline: none;
      }
    }
  }
}

.keyboard-section {
  width: 90%;
  margin: 0 auto;
  border: 1px solid green;
}

.keyboard {
  margin: 0 auto;
  width: 65%;
  border: 2px solid $secondary-color;
  border-radius: 10px;
  height: 250px;
  padding: 10px;
  display: grid;
  grid-template-columns: 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22% 2.22%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.keyboard > .key {
  border: 1px solid $secondary-color;
  border-radius: 10px;
  text-align: center;
  color: $secondary-color;
  font-size: 12px;
  line-height: 30px;
  transition: background-color 0.2s;
  margin: 3px;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-6 {
  grid-column: span 6;
}

.span-7 {
  grid-column: span 7;
}

.span-8 {
  grid-column: span 8;
}
.span-21 {
  grid-column: span 21;
}

.ctrl {
  grid-column: 9 / 12;
}